body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

h2 {
    color: rgb(92, 114, 143);
}

form {
    max-width: 400px;
    margin: 20px 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #404c58;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #5378a0;
}


.btn {
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 3px;
}
